<div *ngIf="!modal" class="card-header h3">
    <a [routerLink]="['/specimens/list']">
        <button type="button" class="btn btn-primary">Back</button>
    </a>
    <span class="title">Specimen: </span>
    <ng-container *ngIf="specimen">
        <span *ngIf="name">{{name}} </span>
        <span class="font-italic">{{scientificName}}</span>
    </ng-container>
</div>

<ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" [ngClass]="'nav-item' + (tab.key == currentTab ? ' active' : '')">
        <a class="nav-link" id="{{tab.key}}" data-toggle="tab" role="tab" aria-controls="{{tab.key}}"
            aria-selected="false" (click)="switchTab(tab.key)" style="cursor:pointer">{{tab.value}}</a>
    </li>
</ul>

<div *ngIf="currentTab === 'specimen'" class="group tab-content">
    <ng-container *ngIf="isEditing && specimen">
        <app-specimen-edit [specimen]="specimen" [modal]="modal"></app-specimen-edit>
    </ng-container>
    <ng-container *ngIf="!isEditing && specimen">
        <app-specimen-page [specimen]="specimen"></app-specimen-page>
    </ng-container>
    <span *ngIf="!specimen">Loading...</span>

    <ng-container *ngIf="specimen && userId == specimen.createdBy && !isEditing && specimen && specimen.specimenId > 0">
        <a *ngIf="!modal" [routerLink]='["/specimens/edit", specimen.specimenId]'>
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
        <button type="button" *ngIf="modal" (click)="edit()" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary" (click)="removeSpecimen()">Delete</button>
    </ng-container>

    <ng-container *ngIf="specimen && userId != specimen.createdBy">
        <button type="button" class="btn btn-primary" (click)="showMessageModal()">
            <span class="oi oi-plus btn-oi"></span>Message
        </button>
    </ng-container>
</div>
