@page "/lifeform/view/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Emergence.Data.Shared.Models
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions

@attribute [Authorize]
@inherits LifeformComponent

@if (Lifeform != null)
{
    <div class="form-group">
        <div class="col-lg-6 col-xs">
            <div>
                <label for="scientific-name">Scientific Name</label>
            </div>
            <div>
                <span class="text-body">@Lifeform.ScientificName</span>
            </div>
        </div>
        <div class="col-lg-6 col-xs">
            <div>
                <label for="common-name">Common Name</label>
            </div>
        </div>
    </div>
}

@code {

}
