<div class="modal-header card-header h3">
    <span class="title">Specimen:</span>&nbsp;
    <ng-container>
        <span>{{name}} </span>&nbsp;
        <span class="font-italic">{{scientificName}}</span>
    </ng-container>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
</div>
<div *ngIf="isEditing" class="modal-body">
    <app-specimen-edit [modal]="modal" [specimen]="specimen"></app-specimen-edit>
</div>
<div *ngIf="!isEditing" class="modal-body">
    <app-specimen-viewer [modal]="modal" [specimen]="specimen"></app-specimen-viewer>
</div>