
<div class="row">
    <div class="col-6">
        <label for="photos">Photos</label>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs" style="padding-bottom:0.5em;">
        <label for="new-upload">Upload:</label>
        <input type="file" accept="image/*" multiple id="new-upload" style="border: 0; padding: .25em 0;" (change)="uploadPhoto($event)" />
    </div>
    <div class="col-lg-6 col-xs" style="padding-bottom:0.5em;">
        <label for="new-external">Add by URL:</label>
        <input type="text" id="new-external" [(ngModel)]="externalUrl" />
        <button type="button" class="btn btn-sm btn-secondary" (click)="addExternalPhoto()">Add</button>
    </div>
</div>
<app-view-photos [photos]="photos" [isEditing]="true" ></app-view-photos>
