<div class="modal-header card-header h3">
    <span class="title">Origin:</span>&nbsp;
    <ng-container *ngIf="name">
        <span>{{name}} </span>&nbsp;
    </ng-container>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
</div>
<div *ngIf="isEditing" class="modal-body">
    <app-origin-edit [modal]="modal" [origin]="origin"></app-origin-edit>
</div>
<div *ngIf="!isEditing" class="modal-body">
    <app-origin-viewer [modal]="modal" [origin]="origin"></app-origin-viewer>
</div>