<ng-container *ngIf="specimen">
    <form (ngSubmit)="saveSpecimen()">
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <div id="validation-summary"></div>
                </div>
                <div class="col-lg-4 col-xs">
                    <label for="lifeform">Plant Name </label>
                    <div *ngIf="!editingLifeform" class="select-container">
                        <span>{{selectedLifeform?.commonName}}</span>&nbsp;<span style="font-style:italic;">{{selectedLifeform?.scientificName}}</span>
                        <span class="oi oi-pencil action" (click)="editLifeform()"></span>
                    </div>
                    <input *ngIf="editingLifeform" type="text" class="form-control select-input" name="scientificName" style="font-style:italic;"
                        [(ngModel)]="selectedLifeform" 
                        [ngbTypeahead]="lifeformsTypeahead" 
                        [resultFormatter]="lifeformResultFormatter"
                        [inputFormatter]="lifeformInputFormatter"
                        [resultTemplate]="lifeformResultTemplate" />
                    <ng-container *ngIf="selectedLifeform && editingLifeform">
                        <span class="oi oi-check action" (click)="cancelEditLifeform(false)"></span>
                        <span class="oi oi-trash action" (click)="cancelEditLifeform(true)"></span>
                    </ng-container>
                    <ng-template #lifeformResultTemplate let-r="result" let-t="term">
                        <span>{{r.commonName}} </span>
                        <span style="font-style:italic;">
                            <ngb-highlight [result]="r.scientificName" [term]="t"></ngb-highlight>
                        </span>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-xs">
                    <label class="select-label" for="origin">Origin</label>
                    <div *ngIf="!editingOrigin" class="select-container">
                        <span class="link" (click)="showOriginModal(modalData)">{{selectedOrigin?.name}} </span>
                        <span class="oi oi-pencil action" (click)="editOrigin()"></span>
                    </div>
                    <input *ngIf="editingOrigin" type="text" class="form-control select-input" name="origin" 
                        [(ngModel)]="selectedOrigin" 
                        [ngbTypeahead]="originsTypeahead" 
                        [resultFormatter]="originResultFormatter"
                        [inputFormatter]="originInputFormatter"
                        [resultTemplate]="originResultTemplate" />
                    <ng-container *ngIf="selectedOrigin && editingOrigin">
                        <span class="oi oi-check action" (click)="cancelEditOrigin(false)"></span>
                        <span class="oi oi-trash action" (click)="cancelEditOrigin(true)"></span>
                    </ng-container>
                    <ng-template #originResultTemplate let-r="result" let-t="term">
                        <ng-container *ngIf="r.originId">
                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                        </ng-container>
                        <ng-container *ngIf="!r.originId">
                            <button class="link" (click)="showOriginModal(modalData)">
                                <span>Add new </span>
                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                            </button>
                        </ng-container>
                    </ng-template>
                    <ng-template #modalData let-modal>
                        <app-origin-modal [modal]="modal" [origin]="selectedOrigin" [isEditing]="selectedOrigin.originId == 0" >
                        </app-origin-modal>
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs">
                    <label for="specimen-name">Specimen Name</label>
                    <input type="text" class="form-control" [(ngModel)]="specimen.name" name="name" id="specimen-name" (focus)="populateInventoryItemName()" />
                </div>
                <div class="col-lg-2 col-xs">
                    <label for="quantity">Quantity</label>
                    <input type="text" class="form-control" [(ngModel)]="specimen.quantity" name="quantity" id="quantity" />
                </div>
                <div class="col-lg-3 col-xs">
                    <label for="status">Status</label>
                    <select [(ngModel)]="specimen.inventoryItem.status" class="form-control" id="status" name="status" >
                        <option *ngFor="let status of inventoryItemStatuses" [value]="status">{{status}}</option>
                    </select>
                </div>
                <div class="col-lg-3 col-xs">
                    <label for="visibility">Visibility</label>
                    <select [(ngModel)]="specimen.inventoryItem.visibility" class="form-control" id="visibility" name="visibility" >
                        <option *ngFor="let visibility of visibilities" [value]="visibility">{{visibility}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs">
                    <label for="stage">Stage</label>
                    <select [(ngModel)]="specimen.specimenStage" class="form-control" id="specimen-stage" name="specimenStage" >
                        <option *ngFor="let specimenStage of specimenStages" [value]="specimenStage">{{specimenStage}}</option>
                    </select>
                </div>
                <div class="col-lg-4 col-xs">
                    <label for="date-acquired">Date Acquired</label>
                    <input type="date" class="form-control" name="dateAcquired" 
                        [ngModel]="specimen.inventoryItem.dateAcquired | date:'yyyy-MM-dd'" 
                        (ngModelChange)="specimen.inventoryItem.dateAcquired = $event" />
                </div>
                <div class="col-lg-4 col-xs">
                    <label for="type">Type</label>
                    <select [(ngModel)]="specimen.inventoryItem.itemType" class="form-control" id="type" name="itemType" >
                        <option *ngFor="let itemType of itemTypes" [value]="itemType">{{itemType}}</option>
                    </select>
                </div>
            </div>
            <app-upload-photos [(photos)]="uploadedPhotos" [type]="1" (photosChange)="photosChanged($event)" [name]="specimen.name" type="Specimen"></app-upload-photos>
            <div class="row">
                <div class="col">
                    <label for="notes">Notes</label>
                    <textarea rows="3" [(ngModel)]="specimen.notes" id="notes" name="notes" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <ng-container *ngIf="modal">
            <button type="button" (click)="closeModal()" class="btn btn-secondary">Cancel</button>
        </ng-container>
        <ng-container *ngIf="!modal">
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
        </ng-container>
            <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
    </form>
</ng-container>
<ng-container *ngIf="!specimen">
    <span>Loading...</span>
</ng-container>
