@page "/message/{Id:int}"
@using Emergence.Client.Components

@inherits MessageComponent
<div class="card-header h3">
    @if (!IsModal)
    {
        <button type="button" class="btn btn-primary" @onclick="Back">Back</button>
    }
    <span class="title">Message: </span>
</div>
<div class="group">
    @if (IsEditing && Message != null)
    {
        <EditMessage Message="Message" @bind-IsEditing="IsEditing" @bind-IsItemLoaded="IsItemLoaded" />
    }
    else if (Message != null)
    {
        <ViewMessage Message="Message" @bind-IsEditing="IsEditing" @bind-IsItemLoaded="IsItemLoaded" />
    }
    else
    {
        <span>Loading...</span>
    }
</div>

@code {

    protected async Task GoBack()
    {
        await IsItemLoadedChanged.InvokeAsync(false);
    }
}
