<button type="button" class="btn btn-secondary btn-sm" (click)="page(-5)" [disabled]="currentPage < 6"><span class="oi oi-media-step-backward"></span></button>
<button type="button" class="btn btn-secondary btn-sm" (click)="page(-1)" [disabled]="currentPage < 2"><span class="oi oi-media-skip-backward"></span></button>
<span class="spacer">{{getPageDisplay()}}</span>
<button type="button" class="btn btn-secondary btn-sm" (click)="page(1)" [disabled]="currentPage == totalPages"><span class="oi oi-media-skip-forward"></span></button>
<button type="button" class="btn btn-secondary btn-sm" (click)="page(5)" [disabled]="currentPage > (totalPages - 5)"><span class="oi oi-media-step-forward"></span></button>

<select [(ngModel)]="take" id="per-page" style="display: inline; width: 3.75em; padding: 0.25em; margin: 0 0.25em;" class="form-control" (change)="takeChanged()">
    <option value="12">12</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select><span>per page</span>