
<div class="form-group">
    <div class="row">
        <div class="col-lg-4 col-xs">
            <div>
                <label for="specimen-name">Specimen Name </label>
            </div>
            <div>
                <span class="text-body">{{specimen.inventoryItem.name}}</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="quantity">Quantity</label>
            </div>
            <div>
                <span class="text-body">{{specimen.inventoryItem.quantity}}</span>
            </div>
        </div>
        <div *ngIf="specimen.inventoryItem.user?.displayName" class="col-lg-4 col-xs">
            <div class="user-display">By {{specimen.inventoryItem.user?.displayName}}</div>
            <!-- <UserDisplay Label="By" User="Specimen.InventoryItem.User" /> -->
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="status">Status</label>
            </div>
            <div>
                <span class="text-body">{{specimen.inventoryItem.status}}</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="stage">Stage</label>
            </div>
            <div>
                <span class="text-body">{{specimen.specimenStage}}</span>
            </div>
        </div>
        <div *ngIf="specimen.inventoryItem.dateAcquired" class="col-lg-4 col-xs">
            <div>
                <label for="date-acquired">Date Acquired</label>
            </div>
            <div>
                <span class="text-body">{{specimen.inventoryItem.dateAcquired | date}}</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="type">Type</label>
            </div>
            <div>
                <span class="text-body">{{specimen.inventoryItem.itemType}}</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="origin">Origin</label>
            </div>
            <div *ngIf="specimen.inventoryItem?.origin?.name">
                <span class="text-body">{{specimen.inventoryItem.origin.name}}</span>
            </div>
            <div *ngIf="!specimen.inventoryItem?.origin?.name">
                <span class="text-body">(No name)</span>
            </div>
        </div>
        <div *ngIf="specimen.notes" class="col-lg-12 col">
            <label for="notes">Notes</label>
            <p>{{specimen.notes}}</p>
        </div>
    </div>
</div>
<div *ngIf="uploadedPhotos" class="form-group">
    <!-- <ViewPhotos UploadedPhotos="uploadedPhotos" Name="@(Specimen.Name)" /> -->
</div>