.check-lg {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: 5px;
    margin-right: 4px;
}

button.link {
    background:none!important;
    border:none; 
    padding:0!important;
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}