@page "/dashboard"
@using Emergence.Client.Common
@inject IModalServiceClient ModalServiceClient

<AuthorizeView>
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <h3>Dashboard</h3>
    <label for="upcoming-activities"></label>
    <ListActivities ShowSearch="false"  />
    @code
    {

    }
</AuthorizeView>
