@page "/"
@using Emergence.Client.Components

<h2>Emergence is a tool to share plants and knowledge.</h2>
<p></p>
<p>Just getting started with your garden?  Find species that will thrive in your particular environment and learn more information about it.</p>

<p>Already have seeds?  Share your seed inventory with others for swapping for new ones.</p>

<p>You can track your propagation activities, like dividing seedlings, stratification, or seed collection.
    Ever mean to collect those seeds from that special plant in your yard but forget?
    Schedule it and get notified when it's the best time!</p>

<p>It can be hard to find a particular plant that you want to add to your garden. Perhaps someone a few miles a way has an extra, or seed to give?</p>

<p>Emergence was born because it is so hard to find native plants at big box nurseries.
    Let's empower each other to promote biodiversity in our backyards and make sure the birds, bees and butterflies have a place to call home.</p>

<p>
    By continuing to use this site, you agree to the <a href="/terms"><span>Terms of Service</span></a> and consent to our <a href="/privacy"><span>Privacy Policy.</span></a>
</p>

@code
{

}
