@page "/"
@inject IModalService Modal
@using Emergence.Client.Components


<h1>Emergence</h1>

<a href="/plantinfo/edit/0">new plantinfo</a> <a href="/plantinfo/list">plantinfo list</a><br />
<a href="/specimen/edit/0">new specimen</a> <a href="/specimen/list">specimen list</a><br />
<a href="/origin/edit/0">new origin</a> <a href="/origin/list">origin list</a><br />
<a href="/activity/edit/0">new activity</a> <a href="/activity/list">activity list</a><br />

<a href="/swagger/index.html">Swagger</a>
@code
{

}
