@page "/"
@inject IModalService Modal
@using Emergence.Client.Components


<h1>Emergence</h1>

<a href="/plantinfo/edit/0">plantinfo</a>
<a href="/specimen/edit/0">specimen</a>
<a href="/origin/edit/0">origin</a>
<a href="/activity/edit/0">activity</a>


@code
{

}
