@page "/"
@inject IModalService Modal
@using Emergence.Client.Components
<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

<h1>Emergence</h1>

<a href="/plantinfo/edit/0">plantinfo</a>
<a href="/specimen/edit/0">specimen</a>
@code
{

}
