@page "/terms"

<h2>Terms of Service</h2>
<p><strong><em>Revised October 3, 2020</em></strong></p>

<p>Read our Privacy Policy at <a href="/privacy">https://emergence.app/privacy</a></p>

<p>
    Welcome to Emergence App ("Emergence" or the "Website"). The following Terms of Service govern all use of the Emergence App website,
    all related applications, and all content, services and products available at or through the website (collectively, the "Website").
    The Website is owned and operated by Emergence App LLC. The Website is offered subject to Your acceptance without modification
    of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, the Emergence App Privacy Policy
    at <a href="/privacy">https://emergence.app/privacy</a> and procedures that may be published from time to time on this Site by Emergence App LLC).
</p>

<p>
    Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the Website, each user ("You", "Your" or "User")
    agrees to the terms and conditions of this Agreement. If You do not agree to all the terms and conditions of this Agreement, You should not access the Website
    or use any services made available via the Website. The Website is available only to individuals who are at least 13 years old, unless parental permission has been obtained.
</p>

<ol>
    <li>
        <p>
            <strong>Your Emergence App Account and Site.</strong>&nbsp;If You create an account on the Website, You are responsible for maintaining the security of
            Your account, and You are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.
            You must not post content to Your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others.
            Emergence App may, at its discretion, change or remove any content  that it considers inappropriate or unlawful. You must immediately notify Emergence App of
            any unauthorized uses of Your account or any other breaches of security. Emergence App will not be liable for any acts or omissions by You, including any
            damages of any kind incurred as a result of such acts or omissions.
        </p>
    </li>
    <li>
        <p>
            <strong>Responsibility of Contributors.</strong>&nbsp;If You post material to the Website, or otherwise make (or allow any third party to make) material
            available by means of the Website (any such material, "Content"), You are entirely responsible for the content of, and any harm resulting from, that Content.
            That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available,
            You represent and warrant that:
        </p>
        <ul>
            <li>
                <p>
                    the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
                </p>
            </li>
            <li>
                <p>
                    the Content is not spam and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the
                    search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
                </p>
            </li>
            <li>
                <p>
                    You will post only Content that is relevant to Emergence App and at a rate and volume that does not hinder other Users' ability to use Emergence App;
                </p>
            </li>
            <li>
                <p>
                    the Content is not libelous or defamatory, does not contain threats or incite violence towards individuals or entities, and does not violate
                    the privacy or publicity rights of any third party;
                </p>
            </li>
            <li>
                <p>
                    Your login is not named in a manner that misleads Your readers into thinking that You are another person or company. For example, Your login name
                    is not the name of a person other than Yourself or company other than Your own;
                </p>
            </li>
            <li>
                <p>
                    Your content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, journals and web sites,
                    and similar unsolicited promotional methods
                </p>
            </li>
        </ul>
        <p>
            By submitting Content to Emergence App for inclusion on the Website, You grant Emergence App a world-wide, royalty-free, and non-exclusive license to reproduce,
            modify, adapt, and publish the Content solely for the purpose of displaying, distributing, and promoting Your posts and journal via Emergence App.
            We might also use the Content for other purposes not subject to known legal restrictions, such as training machine learning models. You represent and warrant
            that (a) You own and control all of the rights to the Content that You post or You otherwise have the right to post such Content to the Site; (b) the Content
            is accurate and not misleading; and (c) use and posting of the Content You supply does not violate these Terms of Service and will not violate any rights of or
            cause injury to any person or entity. If You delete Content, Emergence App will use reasonable efforts to remove it from the Website, but You acknowledge that
            caching or references to the Content may not be made unavailable immediately.
        </p>
        <p>
            Without limiting any of those representations or warranties, Emergence App has the right (though not the obligation), in Emergence App’s sole discretion, to
            terminate or deny access to and use of the Website to any individual or entity for any reason.
        </p>
    </li>
    <li>
        <p>
            <strong>Responsibility of Website Visitors.</strong>&nbsp;Emergence App has not reviewed, and cannot review, all of the material, including computer software,
            posted to the Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, Emergence App does not
            represent or imply that it endorses the material posted to the Website, or that it believes such material to be accurate, useful, non-infringing or non-harmful.
            You are responsible for taking precautions as necessary to protect Yourself and Your computer systems from viruses, worms, Trojan horses, and other harmful or
            destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies,
            typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual
            property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated.
            Emergence App disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content posted to the Website.
        </p>
    </li>
    <li>
        <p>
            <strong>Non-Commercial Use.</strong> You agree not to use the Website, the Emergence App Service, or any Emergence App Content for any illegal, unlawful,
            inappropriate, or unauthorized purpose or activity. You further agree not to threaten, abuse, solicit, spam, harass,
            stalk, impersonate or intimidate other Emergence App Users and not to collect or store any location or other personal information about any Emergence App Users
            that You obtain from the Website.
        </p>
    </li>
    <li>
        <p>
            <strong>Copyright Infringement and DMCA Policy.</strong> Emergence App respects the intellectual property rights of others, and requests that
            Users of the Emergence App Website and Service do the same.
        </p>

        <p>
            If You believe that Your work has been copied on the Website in a way that constitutes copyright infringement, please provide Emergence App’s
            Copyright Agent with the information specified below in the form of a "Notification of Alleged Infringement." It is Emergence App’s policy to
            respond to clear Notifications of Alleged Infringement, and our policy is designed to make submitting Notifications of Alleged Infringement
            as straightforward as possible while reducing the number of Notifications that we receive that are fraudulent or difficult to understand or verify.
            If You are concerned about the removal of or blocked access to Your content, please provide Emergence App’s Copyright Agent with a "Counter-Notification."
            The process specified below is consistent with that provided under the Digital Millennium Copyright Act (the text of which can be found at the
            U.S. Copyright Office Website at <a href="https://www.copyright.gov">https://www.copyright.gov</a>).
        </p>

        <h3>DMCA NOTIFICATION OF ALLEGED COPYRIGHT INFRINGEMENT</h3>

        <p>
            If You would like to submit a claim of copyright infringement, please substantiate each claim by sending Emergence App’s registered Copyright
            Agent a Notification of Claimed Infringement at the email or mailing address below:
        </p>

        <p style="margin-left: 2em;">
            <strong>Copyright Agent</strong><br>
            <br>
            Copyright Agent<br>
            Emergence App, LLC<br>
            275 Carriage Station Circle<br>
            Roswell, GA 30075<br>
            @_emailAddress<br>
        </p>

        <p>
            Detail of what an effective Notification of Alleged Infringement must include is available at the U.S. Copyright Office Website at
            <a href="https://www.copyright.gov">https://www.copyright.gov</a>.
        </p>

        <h3>DMCA COUNTER-NOTIFICATION</h3>

        <p>
            If You elect to submit a Counter-Notification, please send the Emergence App registered Copyright Agent a Counter Notification at the email or mailing address above.
        </p>

        <p>
            Detail of what an effective Counter-Notification must include is available at the U.S. Copyright Office Website at <a href="https://www.copyright.gov">https://www.copyright.gov</a>.
        </p>

        <p>
            Emergence App will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material.
            In the case of a visitor who may infringe or repeatedly infringes the copyrights or other intellectual property rights of Emergence App or others, Emergence App may,
            in its discretion, terminate or deny access to and use of the Website.
        </p>
    </li>
    <li>
        <p>
            <strong>Intellectual Property.</strong>&nbsp;All trademarks, service marks, graphics and logos used in connection with Emergence App or the Website are trademarks
            or registered trademarks of Emergence App or Emergence App’s Users or other third parties. Your use of the Website grants
            You no right or license to reproduce or otherwise use any Emergence App or third-party trademarks. This Agreement does not transfer to You any Emergence App or
            third party intellectual property, and all right, title and interest in and to such property will remain solely with Emergence App or such owners.
        </p>
    </li>
    <li>
        <p>
            <strong>Changes.</strong>&nbsp;Emergence App reserves the right, at its sole discretion, to modify or replace any part of this Agreement.
            It is Your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting
            of any changes to this Agreement constitutes acceptance of those changes. Emergence App may also, in the future, offer new services and/or features
            through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
        </p>
    </li>
    <li>
        <p>
            <strong>Termination.</strong>&nbsp;Emergence App may terminate Your access to all or any part of the Website at any time, with or without cause,
            with or without notice, effective immediately. If You wish to terminate this Agreement or Your Emergence App account, You may simply discontinue
            using the Website and delete Your account. All provisions of this Agreement which by their nature should survive termination shall survive termination,
            including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
        </p>
    </li>
    <li>
        <p>
            <strong>Disclaimer of Warranties.</strong>&nbsp;The Website is provided "as is."  Emergence App and its suppliers and Members hereby disclaim all warranties
            of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.
            Neither Emergence App nor its suppliers or Members makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted.
            You understand that You download from, or otherwise obtain content or services through, the Website at Your own discretion and risk.
        </p>
    </li>
    <li>
        <p>
            <strong>Limitation of Liability.</strong>&nbsp;In no event will Emergence App be liable with respect to any subject matter of this Agreement under any contract,
            negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or
            substitute products or services; or (iii) for interruption of use or loss or corruption of data. Emergence App shall have no liability for any failure or delay
            due to matters beyond its reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
        </p>
    </li>
    <li>
        <p>
            <strong>General Representation and Warranty.</strong>&nbsp;You represent and warrant that (i) Your use of the Website will be in strict accordance with the
            Emergence App Privacy Policy located at <a href="/privacy">https://emergence.app/privacy</a>, with this Agreement and with all applicable laws and regulations
            (including without limitation any local laws or regulations in Your country, state, city, or other governmental area, regarding online conduct and acceptable
            content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which You reside)
            and (ii) Your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
        </p>
    </li>
    <li>
        <p>
            <strong>Indemnification.</strong>&nbsp;You agree to indemnify and hold harmless Emergence App, their contractors, licensors and Members, and their respective directors,
            officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of Your use of the Website,
            including but not limited to Your violation this Agreement.
        </p>
    </li>
    <li>
        <p>
            <strong>Open Source.</strong>&nbsp;You agree to indemnify and hold harmless Emergence App, its code contributors, its contractors, and its licensors and Members,
            and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of the
            publishing of Emergence App’s source code or the acceptance of code contributions from outside parties.
        </p>
    </li>
    <li>
        <p>
            <strong>Miscellaneous.</strong>&nbsp;This Agreement constitutes the entire agreement between Emergence App and You concerning the subject matter hereof,
            and may be modified only by a written amendment signed by an authorized executive of Emergence App, or by the posting by
            Emergence App of a revised version of these Terms of Service. Except to the extent applicable law, if any, provides otherwise, any access to or use of the
            Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes
            arising out of or relating to any of the same will be the state and federal courts located within 60 miles of Atlanta, Georgia. The prevailing
            party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or
            unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect.
            A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition
            or any subsequent breach thereof. You may not assign Your rights under this Agreement; Emergence App may assign its rights under this Agreement without
            condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
        </p>
    </li>
</ol>

<p>
    © Copyright 2020 Emergence App LLC. All rights reserved.
</p>

<span>
    Revised on October 3, 2020 07:14 by Carling Kirk
</span>

@code
{
    private const string _emailAddress = "carling@emergence.app";
}
