@page "/origin/{Id:int}"
@using Emergence.Client.Components

@inherits OriginComponent

@if (!IsModal)
{
    <button class="btn btn-primary" @onclick="Back">Back</button>
}
@if (IsEditable && Origin.OriginId > 0)
{
    <button class="btn btn-primary" @onclick="() => IsEditing = !IsEditing">@(IsEditing ? "Cancel" : "Edit")</button>
}
@if (IsEditing && Origin != null)
{
    <EditOrigin RefreshList="RefreshList" Origin="Origin" @bind-IsEditing="IsEditing" @bind-IsItemLoaded="IsItemLoaded" @bind-List="List" />
}
else if (Origin != null)
{
    <ViewOrigin RefreshList="RefreshList" Origin="Origin" @bind-IsEditing="IsEditing" @bind-IsItemLoaded="IsItemLoaded" @bind-List="List" />
}
else
{
    <span>Loading...</span>
}

@code {

}
