<div>
    <div class="group">
        <div class="row">
            <div class="col-4 card-container">
                <div *ngIf="mainPhoto">
                    <ng-container *ngIf="!mainPhoto.externalUrl">
                        <img [srcset]="mainPhoto.thumbnailUri + ' 1x'" class="card-img contain link"
                             [src]="mainPhoto.originalUri" (click)="showPhotoModal(modalData)"
                             (error)="onImgError($event)" [alt]="'Uploaded photo of ' + mainPhoto.type" />
                    </ng-container>
                    <ng-container *ngIf="mainPhoto.externalUrl">
                        <img [src]="mainPhoto.externalUrl" class="card-img contain link"
                        (click)="showPhotoModal(modalData)" [alt]="'Uploaded photo of ' + mainPhoto.type" />
                    </ng-container>
                </div>
                <div *ngIf="!mainPhoto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="shadow-sm align-center">
                        <rect [attr.fill]="color" width="100" height="100" />
                        <text fill="#FFF" dy="1" x="50%" y="50%" text-anchor="middle">&nbsp;</text>
                    </svg>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div> 
<ng-template #modalData let-modal>
    <app-photo-modal [photo]="mainPhoto" [name]="name" [modal]="modal"></app-photo-modal>
</ng-template>