@inherits LayoutComponentBase
<CascadingBlazoredModal />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <div class="container">
            <div class="row">
                <div class="col-3" style="padding:.75em 0 0 0;"><div style="width:175px;"><Logo Class="green" Size="large"></Logo></div></div>
                <div class="col-9" style="display:flex;justify-content:flex-end;"><LoginDisplay /></div>
            </div>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
