<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <div style="width:35px;margin:0 0 0 -0.5em;padding: 0 0 0 .5em;" aria-label="Emergence logo">
            <Logo Class="light"></Logo><span style="color:#EDE3CE;margin-left:.5em;" aria-hidden="true">Home</span>
    </div>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <AuthorizeView>
                <NavLink class="nav-link" href="dashboard">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                </NavLink>
                <NavLink class="nav-link" href="activity/list">
                    <span class="oi oi-pulse" aria-hidden="true"></span> Activities
                </NavLink>
                <NavLink class="nav-link" href="specimen/list">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Specimens
                </NavLink>
            </AuthorizeView>
            <NavLink class="nav-link" href="plantbrowser">
                <span class="oi oi-signpost" aria-hidden="true"></span> Taxa Browser
            </NavLink>
            <NavLink class="nav-link" href="plantinfo/list">
                <span class="oi oi-info" aria-hidden="true"></span> Plant Profiles
            </NavLink>
            <AuthorizeView>
                <NavLink class="nav-link" href="contacts">
                    <span class="oi oi-people" aria-hidden="true"></span> Contacts
                </NavLink>
            </AuthorizeView>
            <NavLink class="nav-link" href="origin/list">
                <span class="oi oi-globe" aria-hidden="true"></span> Origins
            </NavLink>
        </li>
        
</ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
