@using Emergence.Data.Shared
@using Emergence.Data.Shared.Models
@using Emergence.Client.Shared

@typeparam T

@foreach (var header in HeaderNames)
{
    <td @onclick="async () => await DoSort(header)" class="sortable">
        <span class="@GetSortClass(header)"></span><span>@header</span>
    </td>
}

@code {

}
