@using Emergence.Data.Shared
@using Emergence.Data.Shared.Models
@using Emergence.Client.Shared 

@typeparam T

<td @onclick="DoSort" class="sortable">
    <span class="@GetSortClass()"></span><span>@HeaderName</span>
</td>

@code {

}
