@typeparam T

<thead>
    <tr>
        @foreach (var header in HeaderNames)
        {
            <td @onclick="async () => await DoSort(header.Key)" class="sortable">
                <span class="@GetSortClass(header.Key)"></span><span>@header.Value</span>
            </td>
        }
    </tr>
</thead>
