@using Emergence.Data.Shared.Models
@using Emergence.Data.Shared

@if (!string.IsNullOrEmpty(Label))
{
    <div>
        <label for="user">@Label</label>
    </div>
}
<div>
    <a href="/user/@(User.DisplayName)">
        @if (!string.IsNullOrEmpty(User.PhotoThumbnailUri))
        {
            <img src="@(User.PhotoThumbnailUri)" alt="Profile photo of @(User.DisplayName)" class="shadow-sm align-center avatar" />
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" class="shadow-sm align-center avatar">
                <rect fill="#A9A074" width="45" height="45" />
            </svg>
        }
        <span class="text-body" id="user">@(User.DisplayName)</span>
    </a>
</div>

@code {
    [Parameter]
    public UserSummary User { get; set; }

    [Parameter]
    public string Label { get; set; }
}
