<div class="row" id="uploaded-photos">
    <div *ngFor="let photo of photos" class="col-lg-3 col-xs">
        <img *ngIf="!photo.externalUrl" class="img-contain" 
            [src]="photo.originalUri" (click)="showPhotoModal(modalData)"
            [srcset]="photo.largeUri + ' 3x, ' + photo.mediumUri + ' 2x, ' + photo.thumbnailUri + ' 1x'"
            (error)="onImgError($event, photo)" [alt]="'Uploaded photo of ' + photo.type" />
        <ng-container *ngIf="photo.externalUrl">
            <button class="link" a href="" (click)="showPhotoModal(modalData)" >
                <img [src]="photo.externalUrl"  class="img-contain" [alt]="'Uploaded photo of ' + photo.type" />
            </button>
            <span *ngIf="photo.urlBroken">The URL is not accessible. Please try another URL or upload an image.</span>
        </ng-container>
        <div *ngIf="isEditing" class="col">
            <button type="button" class="btn btn-sm btn-secondary" style="margin-top:.25rem;" (click)="removePhotoAsync(photo.photoId)">Remove</button>
        </div>
        <ng-template #modalData let-modal>
            <app-photo-modal [photo]="photo" [name]="name" [modal]="modal"></app-photo-modal>
        </ng-template>
    </div>
</div>