<div class="card-header h3">
    <a [routerLink]="['/plantinfos/list']">
        <button type="button" class="btn btn-primary">Back</button>
    </a>
    <span class="title">Plant profile: </span>
    <ng-container *ngIf="plantInfo && plantInfo.plantInfoId > 0">
        <span >{{commonName}} </span>
        <span class="font-italic">{{scientificName}}</span>
    </ng-container>
    <ng-container *ngIf="plantInfo && plantInfo.plantInfoId == 0">
        <span class="font-italic">New</span>
    </ng-container>
</div>

<ng-container *ngIf="isEditing && plantInfo">
    <app-plant-info-edit [plantInfo]="plantInfo"></app-plant-info-edit>>
</ng-container>
<ng-container *ngIf="plantInfo">
    <app-plant-info-page [plantInfo]="plantInfo"></app-plant-info-page>
</ng-container>
<span *ngIf="!plantInfo">Loading...</span>

<ng-container *ngIf="isOwner && !isEditing && plantInfo && plantInfo.plantInfoId > 0">
    <a [routerLink]='["/plantinfos/edit", plantInfo.plantInfoId]'>
        <button type="button" class="btn btn-primary">Edit</button>
    </a>
    <button type="button" class="btn btn-primary" (click)="removeplantInfo()">Delete</button>
</ng-container>

<ng-container *ngIf="!isOwner">
    <button type="button" class="btn btn-primary" (click)="showMessageModal()">
        <span class="oi oi-plus btn-oi"></span>Message
    </button>
</ng-container>
