<div>
    <table>
        <thead app-sortable-headers [columns]="columns">
        <tbody>
            <tr *ngIf="totalCount == 0">
                <td><span>No specimens found</span></td>
            </tr>
            <tr *ngFor="let specimen of specimens">
                <td>
                    <a [routerLink]='["/specimens", specimen.specimenId]'>
                        <span class="link">{{ specimen.lifeform?.scientificName }}</span>
                    </a>
                </td>
                <td>
                    <span>{{ specimen.name }}</span>
                </td>
                <td>
                    <span>{{ specimen.inventoryItem?.quantity }}</span>
                </td>
                <td>
                    <span>{{ specimen.specimenStage }}</span>
                </td>
                <td>
                    <span>{{ specimen.inventoryItem?.status }}</span>
                </td>
                <td>
                    <span>
                        {{ specimen.inventoryItem?.dateAcquired }}
                    </span>
                </td>
                <td>
                    <span *ngIf="specimen.inventoryItem?.origin" class="link">{{ specimen.inventoryItem?.origin?.name }}</span>
                    <span *ngIf="!specimen.inventoryItem?.origin"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>