@page "/plantinfo/{Id:int}"
@using Emergence.Client.Components

@inherits PlantInfoComponent

@if (IsEditable)
{
    <button class="btn btn-primary" @onclick="() => IsEditing = !IsEditing">@(IsEditing ? "Cancel" : "Edit")</button>
}
@if (IsEditing && PlantInfo != null)
{
    <EditPlantInfo PlantInfo="PlantInfo" />
}
else if (PlantInfo != null)
{
    <ViewPlantInfo PlantInfo="PlantInfo" />
}
else
{
    <span>Loading...</span>
}

@code {
    public bool IsEditing { get; set; }
}
